@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Car Rentals website</h1>
    <p>You can get started by adding some Customers and Vehicles, or by using the placeholder ones.</p>
</div>